:root{
    --Nav : #0047ab;
    --fuenteTitulo : ""Faculty Glyphic", sans-serif";
    --Seccion : #B3C8CF;
    --SubSeccion : aliceblue;
}
body{
    overflow-x: hidden;
    background-color: #fff;   
}
.padre-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 1.5em;
    display: none; /*Por defecto oculto */
  }

.scroll-down-indicator {
position: sticky;
bottom: 30px;
left: 0%;
transform: translateX(-50%);
color: #2196F3;
font-size: 3rem;
animation: bounce 1.5s infinite;
cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}
/* Personalizar el contenedor del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar vertical */
}

/* Estilo de la pista (track) del scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del pulgar (thumb) del scrollbar */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados */
}

/* Cambiar el color del pulgar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color más oscuro al pasar el mouse */
}

/* Personalizar solo el scroll vertical */
body {
    scrollbar-color: #888 #f1f1f1; /* Estilo para Firefox */
    scrollbar-width: thin; /* Grosor del scrollbar en Firefox */
}
