:root{
    --Nav : #0047ab;
    --fuenteTitulo : ""Faculty Glyphic", sans-serif";
    --Seccion : #B3C8CF;
    --SubSeccion : aliceblue;
}
.form-container{
    display: flex;
    width: 90vw;
    background-color: var(--Seccion);
    padding: 10px;
    display: flex;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 1370px;
    border-radius: 8px;
}
     .newton-container{
        position: relative;
        flex-basis: 50px;
        background-color: var(--SubSeccion);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
        .newtonRespuesta{
            font-size: 20px;
            color: #7b7979;
        }
    .polinomio-container{
        background-color: var(--Seccion);
        display: flex; 
        gap: 42px;
        flex-basis: 70px;
        border-radius: 8px;

    }
        #funcX{
          flex: 2;  
          background-color: var(--Seccion);
          display: flex;
          gap: 15px;
          max-height: 60px;
          border-radius: 8px;
        }
            .FdeX{
                background-color: var(--SubSeccion);
                flex: 1.8;
                display: flex;
                min-width: 340px;
                justify-content: space-between;
                align-items: center;    
                border-radius: 8px;
            }
                .textoFdeX-container{
                    flex: 2 ;
                }
                .inputDeX-container{
                    align-self: center;
                    flex: 1;
                    display: flex;
                    justify-content: center;  
                    
                }
                #inputDeX{
                    flex: 2;
                    position: relative;
                    border-radius: 5px;
                    border: .5px solid black;
                    width: 50px;
                    height: 30px;
                    transition: all 1s;
                }
                
                .buttonDeX-container{
                    display: flex;
                    flex-direction: row;
                    flex: 2;
                    gap: 5px;
                    justify-content: center;

                }
                    .cancelarDeX,.calcularDeX{
                        padding: 10px 15px;
                        border-radius: 5px;
                        align-content: center;
                    }
            .Poli{
                border-radius: 8px;
                position: relative;
                background-color: #fff;
                flex: 1.5;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            #ImagenFdeX{
                color: grey;
                font-size: 20px;         
            } 
        #polinomio{
            border-radius: 8px;
            position: relative;
            max-height: 60px;
            flex: 1;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
            .poliResp{
            color: grey;
            font-size: 20px;         
           } 

.label{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--Seccion);
    font-size: 20px;
}